@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200;300;400;500;600;700;900&display=swap');

body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

html {
  overflow-x: hidden !important;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
  color: #299740;
}

a:hover {
  color: #80c792;
  text-decoration: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

p {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #299740;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}

.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}

.back-to-top:hover {
  background: #78c48c;
  color: #fff;
}

.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #fbfbfb;
  font-size: 15px;
  height: 40px;
  padding: 0;
  border-bottom: 1px solid #DCDCDC;
}

#topbar .contact-info a {
  line-height: 0;
  color: #444444;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #299740;
}

#topbar .contact-info i {
  color: #299740;
  line-height: 0;
  margin-right: 5px;
}

#topbar .contact-info .phone-icon {
  margin-left: 15px;
}

#topbar .social-links a {
  color: #6f6f6f;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #299740;
}

/*For screens with a max-width of 439px and min-width of 280px*/
@media(max-width: 439px) and (min-width: 280px)  {
  #topbar {
    display: none !important;
  }

  #header .logo img {
    max-height: 80px !important;
    object-fit: cover;
  }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  height: 130px;
  border-bottom: 1px solid #DCDCDC;
}

#header.header-scrolled {
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #299740;
}

#header .logo img {
  max-height: 100px;
  object-fit: cover;
}

.scrolled-offset {
  margin-top: 70px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 16px;
  color: #222222;
  white-space: nowrap;
  transition: 0.3s;
  font-family: 'Noto Serif JP', sans-serif;
  font-weight: 350;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #299740;
}

.navbar .getstarted,
.navbar .getstarted:focus {
  color: #299740;
  padding: 8px 25px;
  margin-left: 30px;
  border-radius: 4px;
  border: 2px solid #299740;
  transition: 0.3s;
  font-size: 14px;
}

.navbar .getstarted:hover,
.navbar .getstarted:focus:hover {
  background: #299740;
  color: #fff;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  text-transform: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover>a {
  color: #299740;
}

.navbar .dropdown:hover>ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover>ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}

@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }

  .navbar .dropdown .dropdown:hover>ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: #222222;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block !important;
  }

  .navbar ul {
    display: none !important;
  }
}

.navbar-mobile {
  position: fixed !important;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(9, 9, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block !important;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #222222;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #299740;
}

.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}

.navbar-mobile .dropdown ul {
  position: static;
  display: none !important;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
  min-width: 200px;
}

.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover>a {
  color: #299740;
}

.navbar-mobile .dropdown>.dropdown-active {
  display: block !important;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 70vh;
  background-color: rgba(9, 9, 9, 0.8);
  overflow: hidden;
  position: relative;
}

#hero .carousel,
#hero .carousel-inner,
#hero .carousel-item,
#hero .carousel-item::before {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

#hero .carousel-item::before {
  content: "";
  background-color: rgba(45, 103, 60, 0.8);
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 50px;
  right: 50px;
}

#hero .container {
  text-align: center;
}

#hero h2 {
  color: #fff;
  margin-bottom: 20px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
  font-size: 20px;
}

#hero .carousel-inner .carousel-item {
  transition-property: opacity;
  background-position: center;
}

#hero .carousel-inner .carousel-item,
#hero .carousel-inner .active.carousel-item-start,
#hero .carousel-inner .active.carousel-item-end {
  opacity: 0;
}

#hero .carousel-inner .active,
#hero .carousel-inner .carousel-item-next.carousel-item-start,
#hero .carousel-inner .carousel-item-prev.carousel-item-end {
  opacity: 1;
  transition: 0.5s;
}

#hero .carousel-control-next-icon,
#hero .carousel-control-prev-icon {
  background: none;
  font-size: 30px;
  line-height: 0;
  width: auto;
  height: auto;
  background: #fff;
  border-radius: 50px;
  transition: 0.3s;
  color: #299740;
  width: 54px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero .carousel-control-next-icon:hover,
#hero .carousel-control-prev-icon:hover {
  background: rgba(255, 255, 255, 0.3);
  color: rgba(255, 255, 255, 0.8);
}

#hero .carousel-indicators li {
  cursor: pointer;
  background: #fff;
  overflow: hidden;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  opacity: 0.6;
  transition: 0.3s;
}

#hero .carousel-indicators li.active {
  opacity: 1;
  background: #299740;
}

#hero .btn-get-started {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 14px 32px;
  border-radius: 4px;
  transition: 0.5s;
  line-height: 1;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  background: #299740;
}

#hero .btn-get-started:hover {
  background: #6ec083;
}

@media (max-width: 992px) {
  #hero {
    height: 100vh;
  }

  #hero .carousel-container {
    top: 66px;
  }
}

@media (max-width: 768px) {
  #hero h2 {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {

  #hero .carousel-control-prev,
  #hero .carousel-control-next {
    width: 5%;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f8fcf9;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #299740;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
  font-size: 16px;
  color: #919191;
}

.medium-icon {
    font-size: 40px !important;
    margin-bottom: 15px !important;
    width: 80px;
} 

@media (max-width: 500px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services {
  padding: 20px 0;
}

.featured-services .icon-box {
  padding: 20px;
}

.featured-services .icon-box-bg {
  background-image: linear-gradient(0deg, #222222 0%, #2f2f2f 50%, #222222 100%);
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  color: #5cb874;
  font-size: 42px;
}

.featured-services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #222222;
  transition: 0.3s;
}

.featured-services .icon-box:hover .title a {
  color: #5cb874;
}

.featured-services .description {
  line-height: 24px;
  font-size: 14px;
}

/*--------------------------------------------------------------
# About Us
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 700;
  font-size: 28px;
  border-left: 6px solid #299740;
  padding-left: 10px;
  margin-bottom: 20px;
}

.about p {
  text-align: justify;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
}

.about .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #5cb874;
}

.about .content p:last-child {
  margin-bottom: 0;
}

.about-btn {
  border: 2px solid #299740;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 40px;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  background-color: #299740;
}

.about-btn:hover {
  border: 2px solid #299740;
  color: #299740;
  background-color: #fff;
}

.objective {
  display: flex;
}

.objective p {
  margin-bottom: 10px !important;
}

.objective-icon {
  width: 20px;
  height: 100%;
  margin-right: 10px;
}

/*--------------------------------------------------------------
# Why Us
--------------------------------------------------------------*/
.why-us {
  padding: 0;
}

.why-us .row {
  overflow: hidden;
}

.why-us .content-item {
  padding: 40px;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin: -1px;
}

.why-us .content-item span {
  display: block;
  font-size: 24px;
  font-weight: 400;
  color: #6ec083;
}

.why-us .content-item h4 {
  font-size: 26px;
  font-weight: 300;
  padding: 0;
  margin: 20px 0;
}

.why-us .content-item p {
  color: #aaaaaa;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .why-us .content-item {
    padding: 40px 0;
  }
}

/*--------------------------------------------------------------
# Our Clients
--------------------------------------------------------------*/
.clients .swiper-slide img {
  opacity: 0.5;
  transition: 0.3s;
}

.clients .swiper-slide img:hover {
  opacity: 1;
}

.clients .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.clients .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #5cb874;
}

.clients .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #5cb874;
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  padding: 70px 20px 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
  box-shadow: 0px 5px 90px 0px rgba(110, 123, 131, 0.1);
  cursor: pointer;
}

.services .icon-box:hover {
  background-color: #299740;
  color: #fff;
}

.services .icon-box:hover  .services .icon-box h4 a {
  color: #FFFF00 !important;
}

.services .container .row {
  transition: all 0.5s ease-in-out;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  position: relative;
}

.services .icon-box .icon img {
  width: 80px;
}

.services .icon-box .icon i {
  font-size: 36px;
  transition: 0.5s;
  position: relative;
}

.services .icon-box .icon svg {
  position: absolute;
  top: 0;
  left: 0;
}

.services .icon-box .icon svg path {
  transition: 0.5s;
  fill: #f5f5f5;
}

.services .icon-box h4 {
  font-weight: 600;
  margin: 10px 0 15px 0;
  font-size: 22px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 a:hover {
  color: #FFFF00;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 35px 0 rgba(0, 0, 0, 0.08);
}

.services .iconbox-blue i {
  color: #47aeff;
}

.services .iconbox-blue:hover .icon i {
  color: #fff;
}

.services .iconbox-blue:hover .icon path {
  fill: #47aeff;
}

.services .iconbox-orange i {
  color: #ffa76e;
}

.services .iconbox-orange:hover .icon i {
  color: #fff;
}

.services .iconbox-orange:hover .icon path {
  fill: #ffa76e;
}

.services .iconbox-pink i {
  color: #e80368;
}

.services .iconbox-pink:hover .icon i {
  color: #fff;
}

.services .iconbox-pink:hover .icon path {
  fill: #e80368;
}

.services .iconbox-yellow i {
  color: #ffbb2c;
}

.services .iconbox-yellow:hover .icon i {
  color: #fff;
}

.services .iconbox-yellow:hover .icon path {
  fill: #ffbb2c;
}

.services .iconbox-red i {
  color: #ff5828;
}

.services .iconbox-red:hover .icon i {
  color: #fff;
}

.services .iconbox-red:hover .icon path {
  fill: #ff5828;
}

.services .iconbox-teal i {
  color: #11dbcf;
}

.services .iconbox-teal:hover .icon i {
  color: #fff;
}

.services .iconbox-teal:hover .icon path {
  fill: #11dbcf;
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
.cta {
  background: linear-gradient(rgba(14, 29, 52, 0.6), rgba(14, 29, 52, 0.8)), url("../img/donation.jpg") center center;
  background-size: cover;
  padding: 100px 0;
  background-repeat: no-repeat;
}

@media (min-width: 1365px) {
  .cta {
    background-attachment: fixed;
  }
}

.cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.cta p {
  color: #fff;
  font-size: 20px;
}

.cta .quote {
  width: 30px;
  margin-top: -20px;
  margin-right: 10px;
  opacity: 50%;
}

.cta .quote-right {
  width: 20px;
  margin-top: -20px;
  margin-left: 5px;
  opacity: 50%;
}

.fst-italic {
  opacity: 70%;
  font-family: 'Oswald';
}

.cta .cta-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 30px;
  border-radius: 2px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 4px;
}

.cta .cta-btn:hover {
  background: #fff;
  color: #299740;
}

@media (max-width: 1024px) {
  .cta {
    background-attachment: scroll;
  }
}

@media (min-width: 769px) {
  .cta .cta-btn-container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

@media (max-width: 500px) {
  .cta p {
    font-size: 16px;
  }
}
/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team .member {
  text-align: center;
  margin-bottom: 20px;
  box-shadow: 0px 0px 12px 0px rgba(34, 34, 34, 0.07);
  padding: 30px 20px;
  background: #fff;
  height: auto;
}

.team .member img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  object-position: 100% 30%;
  margin: 0 0 30px 0;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 2px;
  font-size: 18px;
}

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member p {
  padding-top: 10px;
  font-size: 14px;
  font-style: italic;
  color: #aaaaaa;
}

.team .member .social {
  margin-top: 15px;
}

.team .member .social a {
  color: #919191;
  transition: 0.3s;
}

.team .member .social a:hover {
  color: #5cb874;
}

.team .member .social i {
  font-size: 18px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Frequently Asked Questions Section
--------------------------------------------------------------*/
.faq {
  background-color: #f8fcf9;
  margin-top: -40px;
}
.faq .content h3 {
  font-weight: 400;
  font-size: 34px;
}

.faq .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

.faq .content p {
  font-size: 15px;
  color: #6c757d;
}

.faq .accordion-item {
  border: 0;
  margin-bottom: 20px;
  box-shadow: 0px 5px 25px 0px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.faq .accordion-item:last-child {
  margin-bottom: 0;
}

.faq .accordion-collapse {
  border: 0;
}

.faq .accordion-button {
  padding: 20px 50px 20px 20px;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--color-default);
  text-align: left;
  background: #fff;
  box-shadow: none;
  border-radius: 10px;
}

.faq .accordion-button .num {
  padding-right: 10px;
  font-size: 20px;
  line-height: 0;
  color: #299740;
}

.faq .accordion-button:not(.collapsed) {
  color: #299740;
  border-bottom: 0;
  box-shadow: none;
}

.faq .accordion-button:after {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #299740;
}

.faq .accordion-body {
  padding: 0 40px 30px 45px;
  border: 0;
  border-radius: 10px;
  background: #fff;
  box-shadow: none;
}

@media (max-width: 500px) {
  .faq .accordion-button {
    font-size: 18px !important;
  }
}

@media (max-width: 400px) {
  .faq .accordion-button {
    font-size: 16px !important;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact1 .info {
  border-top: 3px solid #299740;
  border-bottom: 3px solid #299740;
  padding: 30px;
  background: #fff;
  width: 100%;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact1 .info i {
  font-size: 20px;
  color: #299740;
  float: left;
  width: 44px;
  height: 44px;
  background: #eaf6ed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

.contact1 .info h4 {
  padding: 0 0 0 60px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #222222;
}

.contact1 .info p {
  padding: 0 0 10px 60px;
  margin-bottom: 20px;
  font-size: 14px;
  color: #555555;
}

.contact1 .info .social-links {
  padding-left: 60px;
}

.contact1 .info .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #333;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  margin-right: 10px;
}

.contact1 .info .social-links a:hover {
  background: #299740;
  color: #fff;
}

.contact1 .info .email:hover i,
.contact1 .info .address:hover i,
.contact1 .info .phone:hover i {
  background: #299740;
  color: #fff;
}

.contact1 form {
  width: 100%;
  border-top: 3px solid #299740;
  border-bottom: 3px solid #299740;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}

.contact1 .php-email-form .form-group {
  padding-bottom: 8px;
}

.card-registration form .error-message,
.contact1 form .error-message {
  display: none;
  color: #fff;
  background: #299740;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.card-registration form .error-message br+br,
.contact1 form .error-message br+br {
  margin-top: 25px;
}

.card-registration form .sent-message,
.contact1 form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.card-registration form .loading,
.contact1 form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.card-registration form .loading:before,
.contact1 form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #299740;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact form input,
.contact1 form textarea {
  border-radius: 0;
  box-shadow: none !important;
  font-size: 14px;
  border-radius: 4px;
}

.contact1 form input:focus,
.contact1 form textarea:focus {
  border-color: #299740 !important;
  box-shadow: none !important;
}

.contact1 input {
  height: 44px;
}

.contact1 form textarea {
  padding: 10px 12px;
}

.contact1 form button[type=submit] {
  background: #299740;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
  margin-top: 50px;
}

.contact1 button[type=submit]:hover {
  background: #6ec083;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f8fcf9;
  min-height: 40px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 0px;
  }
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 300;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-decoration: none;
}

.breadcrumbs ol li+li {
  padding-left: 8px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #3c3c3c;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block !important;
  }

  .breadcrumbs ol li {
    display: inline-block !important;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  font-size: 14px;
  background-color: #000;
  padding: 50px 0;
  color: white;
}

.footer .footer-info .logo {
  line-height: 0;
  margin-bottom: 25px;
}

.footer .footer-info .logo img {
  max-height: 40px;
  margin-right: 6px;
}

.footer .footer-info .logo p {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  font-family: var(--font-primary);
}

.footer .footer-info h5 {
  text-transform: uppercase;
  color: #299740;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer .footer-info p {
  font-size: 14px;
  font-family: var(--font-primary);
}

.footer .social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
  margin-right: 10px;
  transition: 0.3s;
}

.footer .social-links a:hover {
  color: #299740;
  border-color: #299740;
}

.footer h4 {
  font-size: 16px;
  font-weight: bold;
  position: relative;
  padding-bottom: 12px;
}

.footer .footer-links {
  margin-bottom: 30px;
}

.footer .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer .footer-links ul i {
  padding-right: 2px;
  color: rgba(13, 66, 255, 0.8);
  font-size: 12px;
  line-height: 0;
}

.footer .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footer-links ul li:first-child {
  padding-top: 0;
}

.footer .footer-links ul a {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footer-links ul a:hover {
  color: #299740;
}

.footer .footer-contact p {
  line-height: 26px;
}

.footer .copyright {
  text-align: center;
  border-top: 2px solid #299740;
  padding-top: 20px;
}

.footer .credits {
  padding-top: 4px;
  text-align: center;
  font-size: 13px;
}

.footer .credits a {
  color: #fff;
}

/*For screens with a max-width of 405px and min-width of 380px*/
@media(max-width: 423px) and (min-width: 374px) {
  .footer .footer-info .logo p {
    font-size: 18px;
  }
}

/*For screens with a max-width of 373px and min-width of 327px*/
@media(max-width: 373px) and (min-width: 327px) {
  .footer .footer-info .logo p {
    font-size: 15px;
  }

  .footer .footer-info h5 {
    font-size: 15px;
  }
}

/*For screens with a max-width of 326px and min-width of 280px*/
@media(max-width: 326px) and (min-width: 280px) {
  .footer .footer-info .logo p {
    font-size: 13px;
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog .blog-border {
  padding-bottom: 100px !important;
}

.blog-area {
  height: auto;
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
}

.blog-text h4 a {
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.blog-text h4 a:hover {
  color: #299740;
}

.blog-text h4 {
  color: #444;
  margin-bottom: 15px;
}

.blog-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  text-decoration: none;
}

.blog-btn {
  border-bottom: 1px dotted #444;
  color: #444;
  display: inline-block;
  padding: 0 1px 5px 0;
  position: relative;
  text-decoration: none;
}

.blog-btn {
  position: relative;
}

.blog-btn::after {
  content: "\f178";
  font-family: fontawesome;
  position: absolute;
  right: -20px;
  top: 1px;
  transition: all 0.3s ease 0s;
}

.blog-btn:hover::after {
  right: -30px;
}

.blog-btn:hover {
  color: #333;
  text-decoration: none;
}

.blog_meta span.date_type i {
  margin-left: 5px;
}

.blog-meta span.comments-type {
  margin-left: 5px;
}

.blog-meta span i {
  padding-right: 10px;
}

.blog-content .blog-meta {
  border-bottom: 1px dotted #333;
}

.blog-meta {
  border-bottom: 1px dotted #fff;
  padding: 10px 0;
}

.comments-type>a,
.date-type,
.blog-meta span.comments-type {
  color: #333;
  letter-spacing: 1px;
  margin-right: 5px;
  font-size: 14px;
}

.blog-meta .comments-type i {
  padding-right: 0 !important;
}

.blog-content-right .comments-type>a,
.blog-content-right .date-type,
.blog-content-right .blog-meta span.comments-type,
.blog-content-right .blog-text p {
  color: #fff;
  letter-spacing: 1px;
}

.single-blog .ready-btn {
  border: 2px solid #299740;
  border-radius: 5px;
  color: #299740;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 25px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
}

.single-blog .ready-btn:hover {
  border: 1px solid #299740;
  color: #fff;
  background-color: #299740 !important;
}

.single-blog-img iframe {
  width: 100%;
  height: 250px;
}

/*--------------------------------------------------------------
# Features Section
--------------------------------------------------------------*/
.features {
  padding-top: 80px;
}

.special-bg {
  background-color: #f8fcf9;
}

.features .features-item+.features-item {
  margin-top: 100px;
}

@media (max-width: 640px) {
  .features .features-item+.features-item {
    margin-top: 40px;
  }
}

.features .features-item h3 {
  font-weight: 600;
  font-size: 26px;
  color: #001973;
}

.features .features-item ul {
  list-style: none;
  padding: 0;
}

.features .features-item ul li {
  padding-bottom: 10px;
}

.features .features-item ul li:last-child {
  padding-bottom: 0;
}

.features .features-item ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #299470;
}

.features .features-item p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Safety
--------------------------------------------------------------*/
.safety {
  width: 100%;
}

.first-row {
  margin-top: -80px;
}

.safety .content {
  padding: 30px 0;
}

.safety .content h3 {
  font-weight: 700;
  font-size: 34px;
  font-family: 'Oswald';
  color: #000;
  border-left: 6px solid #299740;
  padding-left: 10px;
}

.safety .content p {
  margin-bottom: 0;
}

.safety .content .icon-box {
  margin-top: 25px;
}

.safety .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 5px 0 10px 60px;
}

.safety .content .icon-box i {
  font-size: 48px;
  float: left;
  color: #5c9f24;
}

.safety .content .icon-box p {
  font-size: 15px;
  color: #848484;
  margin-left: 60px;
}

.safety .image {
  background: url("../img/speed.jpg") center left no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image2 {
  background: url("../img/isuzu.jpg") center left no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image3 {
  background: url("../img/boda.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image4 {
  background: url("../img/pedestrians.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image5 {
  background: url("../img/bus.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image6 {
  background: url("../img/cyclists.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image7 {
  background: url("../img/driver.jpg") center left no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image8 {
  background: url("../img/slide-1.jpg") center left no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image9 {
  background: url("../img/slide-3.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image10 {
  background: url("../img/training-school.jpg") center left no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image11 {
  background: url("../img/emergency.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image12 {
  background: url("../img/safety.jpg") center center no-repeat;
  background-size: cover;
  min-height: 300px;
}

.safety .image13 {
  background: url("../img/awareness.jpg") center top no-repeat;
  background-size: cover;
  min-height: 300px;
}

.descr-icon {
  width: 45px;
  margin-top: -30px;
}

.descr-icon2 {
  width: 40px;
  margin: 20px 0 10px;
}

.gvt {
  margin-top: 0px !important;
  padding-top: 40px !important;
}

.future {
  padding-bottom: 0px !important;
  margin-bottom: -30px;
}

@media (max-width: 991px) {
  .safety .image {
    text-align: center;
  }

  .safety .image img {
    max-width: 80%;
  }

  .gvt {
    margin-top: 0px !important;
    padding-top: 40px !important;
  }

  .future-cont {
    padding-top: 0px !important;
  }
}

@media (max-width: 667px) {
  .safety .image img {
    max-width: 100%;
  }

 .gvt {
    margin-top: 0px !important;
    padding-top: 40px !important;
  }

  .future-cont {
    padding-top: 0px !important;
  }
}

@media (max-width: 500px) {
  .safety {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 400px) {
  .safety {
    padding-left: 10px;
    padding-right: 10px;
  }
}


/*--------------------------------------------------------------
# Alt Services Section
--------------------------------------------------------------*/
.alt-services .img-bg {
  background-size: cover;
  background-position: center center;
  min-height: 400px;
}

.alt-services h3 {
  font-size: 28px;
  font-weight: 700;
  color: var(--color-secondary);
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.alt-services h3:after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: var(--color-primary);
  left: 0;
  bottom: 0;
}

.alt-services .icon-box {
  margin-top: 50px;
}

.alt-services .icon-box i {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  margin-right: 25px;
  font-size: 28px;
  width: 56px;
  height: 56px;
  border-radius: 4px;
  line-height: 0;
  box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.08);
  background-color: #fff;
  transition: 0.3s;
}

.alt-services .icon-box:hover i {
  background-color: var(--color-primary);
  color: #fff;
}

.alt-services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 18px;
}

.alt-services .icon-box h4 a {
  color: #000;
  transition: 0.3s;
}

.alt-services .icon-box h4 a:hover {
  color: var(--color-primary);
}

.alt-services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Service Details
--------------------------------------------------------------*/
.service-details {
  padding-bottom: 10px;
}

.service-details .card {
  border: 0;
  padding: 0 30px;
  margin-bottom: 60px;
  position: relative;
}

.service-details .card-img {
  width: calc(100% + 60px);
  margin-left: -30px;
  overflow: hidden;
  z-index: 9;
  border-radius: 0;
}

.service-details .card-img img {
  max-width: 100%;
  transition: all 0.3s ease-in-out;
}

.service-details .card-body {
  z-index: 10;
  background: #fff;
  border-top: 4px solid #fff;
  padding: 30px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  margin-top: -60px;
  transition: 0.3s;
}

.service-details .card-title {
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.service-details .card-title a {
  color: #1e4356;
  transition: 0.3s;
}

.service-details .card-text {
  color: #5e5e5e;
}

.service-details .read-more a {
  color: #777777;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
  transition: 0.3s;
}

.service-details .read-more a:hover {
  color: #299740;
}

.service-details .card:hover img {
  transform: scale(1.1);
}

.service-details .card:hover .card-body {
  border-color: #299740;
}

.service-details .card:hover .card-body .card-title a {
  color: #299740;
}

/*--------------------------------------------------------------
# Facts
--------------------------------------------------------------*/
.facts .counters span {
  font-size: 42px;
  display: block;
  color: #000000;
  font-family: 'Oswald', sans-serif;
}

.facts .counters h1 {
  color: #299740;
  margin-bottom: 30px;
}

.facts .counters h5 {
  font-size: 16px;
  font-family: "Manrope", sans-serif;
  margin-bottom: 40px;
}

.facts .counters p {
  padding: 0;
  margin: 0 0 20px 0;
  font-family: "Oswald",sans-serif; 
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}

#preloader:before,
#preloader:after {
  content: "";
  position: absolute;
  border: 4px solid #299740;
  border-radius: 50%;
  -webkit-animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

#preloader:after {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}

@-webkit-keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }

  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 30px;
}

.contact .info-box {
  color: #444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
  margin-bottom: 30px;
}

.contact .info-box i {
  font-size: 32px;
  color: #299740;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #299740;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #666;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 30px;
  margin-bottom: 30px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br+br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #299740;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #299740;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #299740 !important;
}

.contact .php-email-form input {
  padding: 10px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type=submit] {
  background: #299740;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type=submit]:hover {
  background: #299740;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Map
--------------------------------------------------------------*/
.map {
  padding: 0;
  margin-bottom: -6px;
}

.map iframe {
  width: 100%;
  height: 380px;
}

/*--------------------------------------------------------------
# Why Us Section
--------------------------------------------------------------*/
.why-us h2 {
  font-size: 48px;
  font-weight: 700;
  font-family: var(--font-secondary);
  color: #299740;
  margin: 30px 0;
}

@media (min-width: 991px) {
  .why-us h2 {
    max-width: 65%;
    margin: 0 0 80px 0;
  }
}

.why-us .our-story {
  padding: 40px 35% 40px 40px;
  background-color: #f5f6f7;
}

@media (max-width: 991px) {
  .why-us .our-story {
    padding: 40px 20px;
  }
}

.why-us .our-story h4 {
  text-transform: uppercase;
  font-size: 18px;
  color: #838893;
}

.why-us .our-story h3 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-secondary);
  border-left: 6px solid #299740;
  padding-left: 10px;
}

.why-us .our-story p:last-child {
  margin-bottom: 0;
}

.why-us ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.why-us ul li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}

.why-us ul i {
  font-size: 20px;
  margin-right: 10px;
  color: #299740;
}

.why-us .watch-video i {
  font-size: 32px;
  transition: 0.3s;
  color: var(--color-primary);
}

.why-us .watch-video a {
  font-weight: 600;
  color: var(--color-secondary);
  margin-left: 8px;
  transition: 0.3s;
}

.why-us .watch-video:hover a {
  color: var(--color-primary);
}

.why-us .about-img {
  min-height: 700px;
  background-size: cover;
  background-position: center;
}

.app-form {
  border: 2px solid #299740;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  background-color: #299740;
}

.app-form:hover {
  border: 2px solid #299740;
  color: #299740;
  background-color: #fff;
}

@media (min-width: 992px) {
  .why-us .about-img {
    position: absolute;
    top: 0;
    right: 0;
    max-height: 400px !important;
  }
}

@media (max-width: 700px) {
  .why-us .about-img {
    top: 0;
    right: 0;
    min-height: 400px !important;
  }
}



/*--------------------------------------------------------------
# Cards
--------------------------------------------------------------*/
.card {
  background-color: #fff;
  border-radius: 10px;
  border: none;
  position: relative;
  margin-bottom: 30px;
  box-shadow: 0 0.46875rem 2.1875rem rgba(90,97,105,0.1), 0 0.9375rem 1.40625rem rgba(90,97,105,0.1), 0 0.25rem 0.53125rem rgba(90,97,105,0.12), 0 0.125rem 0.1875rem rgba(90,97,105,0.1);
}

.card h2 {
  width: 200px;
}

.l-bg-cherry {
  background: linear-gradient(to right, #493240, #f09) !important;
  color: #fff;
}

.l-bg-blue-dark {
  background: linear-gradient(to right, #373b44, #4286f4) !important;
  color: #fff;
}

.l-bg-green-dark {
  background: linear-gradient(to right, #0a504a, #38ef7d) !important;
  color: #fff;
}

.l-bg-orange-dark {
  background: linear-gradient(to right, #a86008, #ffba56) !important;
  color: #fff;
}

.card .card-statistic-3 .card-icon-large .fas, .card .card-statistic-3 .card-icon-large .far, .card .card-statistic-3 .card-icon-large .fab, .card .card-statistic-3 .card-icon-large .fal {
  font-size: 110px;
}

.card .card-statistic-3 .card-icon {
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
  color: #000;
  position: absolute;
  right: -5px;
  top: 20px;
  opacity: 0.1;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

.l-bg-green {
  background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
  color: #fff;
}

.l-bg-orange {
  background: linear-gradient(to right, #f9900e, #ffba56) !important;
  color: #fff;
}

.l-bg-cyan {
  background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
  color: #fff;
}

/*--------------------------------------------------------------
# Pricing Section
--------------------------------------------------------------*/
.pricing .pricing-item {
  padding: 60px 40px;
  box-shadow: 0 3px 20px -2px rgba(108, 117, 125, 0.15);
  background: #fff;
  height: 100%;
  border-top: 4px solid #fff;
  border-radius: 5px;
}

.pricing h3 {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 20px;
  color: #fff;
  font-family: 'Manrope';
  text-align: center;
}

.pricing h4 {
  font-size: 48px;
  color: var(--color-primary);
  font-weight: 400;
  font-family: var(--font-primary);
  margin-bottom: 25px;
}

.pricing h4 sup {
  font-size: 28px;
}

.pricing h4 span {
  color: rgba(108, 117, 125, 0.8);
  font-size: 18px;
}

.pricing ul {
  padding: 20px 0;
  list-style: none;
  color: #6c757d;
  text-align: left;
  line-height: 20px;
}

.pricing ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.pricing ul i {
  color: #059652;
  font-size: 24px;
  padding-right: 3px;
}

.pricing ul .na {
  color: rgba(108, 117, 125, 0.5);
}

.pricing ul .na i {
  color: rgba(108, 117, 125, 0.5);
}

.pricing ul .na span {
  text-decoration: line-through;
}

.pricing .buy-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 4px;
  color: var(--color-primary);
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-primary);
  transition: 0.3s;
  border: 2px solid #299740;
}

.pricing .buy-btn:hover {
  background: #299740;
  color: #fff;
}

.pricing .featured {
  border-top-color: #299740;
}

.pricing .featured .buy-btn {
  background: #299740;
  color: #fff;
}

.bronze {
  background: url("../img/bronze.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.silver {
  background: url("../img/silver.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

.gold {
  background: url("../img/gold.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0;
}

@media (max-width: 992px) {
  .pricing .box {
    max-width: 60%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 767px) {
  .pricing .box {
    max-width: 80%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 420px) {
  .pricing .box {
    max-width: 100%;
    margin: 0 auto 30px auto;
  }
}

@media (max-width: 400px) {
  .pricing h4  {
    font-size: 40px;
  }
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
  font-size: 1rem;
  line-height: 2.15;
  padding-left: .75em;
  padding-right: .75em;
}

.card-registration .select-arrow {
  top: 13px;
}

.card-registration img {
  height: 850px;
  width: 100%;
  object-fit: cover;
  object-position: 40% 100%;
}

.select-icon {
  margin-right: 5px !important;
}

.form-outline input,
.form-outline select {
  height: 50px;
}

.form-outline ::placeholder {
  font-size: 15px;
  font-family: 'Manrope';
}

.form-outline input:focus,
.form-outline textarea:focus,
.form-control input:focus {
  border-color: #299740 !important;
  box-shadow: none !important;
}

.form-control {
  font-size: 15px;
}

.btn-light {
  color: #299740;
  font-size: 15px !important;
  margin-right: 10px;
  border-radius: 5px;
  background-color: #f8fcf9;
  text-transform: uppercase;
}

.btn-warning {
  border: none;
  border-radius: 5px;
  background-color: #299740;
  color: #fff;
  font-size: 15px !important;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
}

.btn-warning:hover {
  background-color: #fff;
  color: #299740;
  border: 2px solid #299740;
}

.select {
  width: 100%;
  font-size: 15px;
  font-family: 'Manrope';
}

.select-label {
  font-size: 12px;
  margin-top: -10px;
  margin-left: 10px;
  padding: 0 5px;
  background-color: #fff;
  position: absolute;
  color: #bfbfbf;
}

.select {
  border: 1px solid #ced4da;
}

.select:focus,
.select:active {
  border-color: #299740 !important;
}

@media (max-width: 767px) {
  .upload h6 {
    margin-bottom: 20px;
  }

  .h-100 {
    margin-top: -30px !important;
    margin-bottom: -20px !important;
  }
}

/*--------------------------------------------------------------
# Donate
--------------------------------------------------------------*/
.donate-area{
  background:url(../img/header-bg.jpg) no-repeat center center fixed;-webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size:cover;
  box-shadow: inset 0 0 0 1000px rgba(0,0,0, 0.9);
  margin-top: 50px;
  margin-bottom: 50px;
}

.donate-area .overlay{
  position:static;
  left:0;
  right:0;
  top:0;
  bottom:0;
}

.donate-info {
  margin-top: 10px;
  align-items: center;
}

.donate-title h2 {
  color: #fff;
}

.donate-area .header-text h1{
  color:#299740;
}

.donate-area p {
  color: #c0c0c0;
}

.donate-area .contact-left h4{
  color:#fff;
  margin-bottom:10px;
}

.donate-area .contact-left .single-info{
  margin-bottom:30px;
}

.donate-area .contact-left .single-info img {
  height: 50%;
  width: 400px;
}

.donate-area .contact-right .form-control{
  border-radius:0;
  background-color:transparent;
  border:1px solid #656463;
  color:#fff;
  font-size:14px;
  padding:12px
}

.donate-area .contact-right input,
.donate-area .contact-right textarea{
  font-size:14px;
  font-weight:200
}

.donate-area .contact-right .option{
  color:#222;
}

.donate-area .contact-right .nice-select span{
  color:#ccc;
  font-size:14px;
  font-weight:200
}

.donate-area .contact-right textarea{
  height:150px;
}

.donate-area .contact-right .list{
  width:100%;
}

.donate-area .contact-right .payment-method{
  color:#ccc;
  margin-top:30px;
}

.booking-form option {
  color: #000;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  border-color: #299740 !important;
  box-shadow: none !important;
}

.booking-form ::placeholder {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  opacity: 50%;
}

.submit-btn {
  display: inline-block;
  padding: 12px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 16px;
  font-weight: 500;
  font-family: 'Manrope', sans-serif;
  transition: 0.3s;
  margin-top: 30px;
  background-color: #299740;
}

.submit-btn:hover {
  background: none;
  color: #fff;
  border: 2px solid #299740;
}

/*--------------------------------------------------------------
# Resource Center
--------------------------------------------------------------*/
.resource-row {
  margin-top: -50px;
}

.resource-row2 {
  margin-top: -40px;
}

.resource-row .card {
  padding: 10px;
}

.resource-row .card-title {
  color: #299740;
  font-size: 22px;
}

.rsc-form {
  border: 2px solid #299740;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  background-color: #299740;
}

.rsc-form:hover {
  border: 2px solid #299740;
  color: #299740;
  background-color: #fff;
}

.button-cont {
  display: flex;
}

.body-cam-video {
  margin-left: 10px;
}

.body-cam-video{
  border: 2px solid #299740;
  border-radius: 5px;
  color: #299740;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 10px 20px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.4s ease 0s;
  background-color: #fff;
}

.body-cam-video:hover {
  color: #fff;
  background-color: #299740;
}

/*--------------------------------------------------------------
# Pagination
--------------------------------------------------------------*/
.page-cont {
  position: relative;
  margin: 30px auto 50px;
  text-align: center;
  overflow: hidden;
}

.page-cont-hr {
  width: 100% !important;
  color: #000 !important;
  background-color: #000 !important;
  height: 1px !important;
  border-width: 0;
  margin-top: 10px !important;
}

.pagination1 {
  display: inline-block !important;
  vertical-align: middle;
  overflow: hidden;
  background-color: #fff !important;
}

.pagination1 li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination1 li a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  line-height: 11px;
  background-color: transparent;
  list-style: none;
  border: none;
  outline: none;
  overflow: hidden;
}

.pagination1 li:hover {
  background-color: #299740 !important;
  color: #fff;
}

.previous-page, .next-page{
  background-color: #299740;
  color: #fff;
  width: 80px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s ease;
  list-style: none;
  border: none;
  outline: none;
  overflow: hidden;
  font-family: 'Manrope';
  font-size: 14px;
  padding: 16px;
}

.previous-page:hover{
  transform: translateX(-5px);
  overflow: hidden;
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #ccc;
  width: auto;
  border-radius: 50%;
  cursor: pointer;
  overflow: hidden;
  padding: 16px;
}

.page-cont .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #299740;
  border: none;
}

.page-cont .active{
  background-color: #299740;
  color: #fff;
}

.page-cont .disable{
  background: #ccc;
}